html,body{
  font-family: helvetica;
  text-align:center;
  min-width:260px;
  color: black;
  font-size: 14px;
  background: white;
}

#armo {
  font-family: 'Noto Sans Armenian', sans-serif;
}
navbar {
  font-family: helvetica;
  text-align:center;
  min-width:260px;
  font-size: 28px;
  color: black;
  overflow: hidden;
  background-color: #white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

/* Links inside the navbar  - RM commented out */
/*
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}*/

#caption {
  font-size: 22px;
}
/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
.box {
  background-color: white;
  width: auto;
  border: 15px black;
  margin: 3%;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
#main{
  border:0px solid;
  background: white;
}
img{
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  float: center;
}
#img-div{
  margin:0px;
  margin-top:0px;
  width:100%;
  background:#ffe2fa;
}
#img-caption{
  margin:15px;
}
#headline{
  margin-top:50px;
  text-align:left;
}

}
ul{
  max-width:200px;
  margin:0 auto;
  text-align:left;
}
li{
  margin: 10px;
}
