html,body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #404040;
  min-width:260px;
  font-size: 24px;
  background: #f7f7f7;
}
#logo {
  width: 130px;
  position:absolute;
  left:20;
  top:3;
}

#location {
  right:30;
  top:0;
  position: absolute;
  font-size: 15px;
  text-align: right !important;
}
h4 {
  font-size: 20px;
}
#intro {
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;

}

.container {
  height: 150px;
}

.fixed-top {
  position:fixed !important;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background: #f7f7f7;
}
img#wemakemusic {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 780px) {
  img#wemakemusic {
    width: 50%;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

#insta {
  position: absolute;
  right: 30;
}

.box {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%
}

.bold {
  font-weight: 700;
}


img{
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  float: center;
}

.bs-docs-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    font-size: 18px;
    width: 100%;
    color: #f7f7f7;
    text-align: center;
    background-color: #282828;
}
